.custom-node-field {
  position: "absolute";
  z-index: 10;
  right: 10;
  left: 10;
  background-color: #b8ceff;
  padding: 0.4rem;

  > p {
    font-size: small;
  }

  > input {
    margin-right: 1rem;
    border-radius: 0.25rem;
    border: 0;
    background-color: rgb(226, 226, 226);
    padding: 0.3rem;
  }

  > button {
    border-radius: 0.25rem;
    padding: 0.3rem;
    border: 0;
    background-color: rgb(226, 226, 226);
  }
}

.custom-node-ui {
  height: 100%;
  border: 1px solid #000000;
  padding: calc(0.65rem) calc(2.4rem);
  border-radius: 0.2rem;
  background: white;
  font-size: small;
}

/* Need to change this in future */
/* .custom-node-ui:active {
  border: 1px solid #000000;
} */
